.prod_card {
  width: 500px;
  border: solid;
  border-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;
  margin-top: 50px;
}
.prod_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-color: #cec7b6;
}
.img_prod {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  margin: 22px;
}
.prod_detail {
  /* padding-left: 10px; */
  margin: auto;
  text-align: left;
}
.prod_detail button {
  background-color: #623cea;
  color: #ebebeb;
  margin-top: 15px;
}
.prod_detail button:hover {
  background-color: #ebebeb;
  color: #623cea;
}
.precio {
  color: #623cea;
  font-weight: bold;
  margin:15px;
}
